<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create Order</title>
</head>
<body>
<h1>Create Order</h1>
<form th:action="@{/orders}" th:object="${order}" method="post">
  <div>
    <label for="customer">Customer:</label>
    <select id="customer" th:field="*{customer}" required>
      <option th:each="customer : ${customers}" th:value="${customer}" th:text="${customer.name}"></option>
    </select>
  </div>
  <div>
    <label for="phone">Phone:</label>
    <select id="phone" th:field="*{phone}" required>
      <option th:each="phone : ${phones}" th:value="${phone}" th:text="${phone.name}"></option>
    </select>
  </div>
  <div>
    <label for="employee">Employee:</label>
    <select id="employee" th:field="*{employee}" required>
      <option th:each="employee : ${employees}" th:value="${employee}" th:text="${employee.name}"></option>
    </select>
  </div>
  <div>
    <button type="submit">Save</button>
  </div>
</form>
<div>
  <a th:href="@{/orders}">Back to List</a>
</div>
</body>
</html>
