<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
  <h2>Welcome!</h2>
  <div class="buttons">
    <button onclick="location.href='/h2-console'">H2 Console</button>
    <button onclick="location.href='/connect-mysql'">Connect to MySQL</button>
    <button onclick="location.href='/view-data'">View Data</button>
  </div>
</div>
</body>
</html>
